*,
html {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(124, 127, 126);
}


.img1-content {

    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    width: 40vh;
}
.img2-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 40vh;
}

.h1-rumah {
    font-size: 30px;
}
