*,
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: gray;
}
.container-navbar {
  background-color: #333;
  width: 100%;
  height: 10vh
}
.ul-navbar {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.li-navbar {
  border: 1px solid white;
  background-color: black;
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  color: white;
  font-size: 30px;
}

.container-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.img-content {
  width: 40%;
  height: 60%;
}

.container-footer {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;

}
.h1-footer {
  font-size: 40px;
}